/* Index*/
.titleHome{
    display: flex;
    justify-content: center;
    margin:10%;
}
h1{
    font-size:70px;
    color:chartreuse;
}
.logo{
    display:flex;
    justify-content: center;
    margin-top: 20%;
}
.logo img{
    height: 250px;
}
.upcomingGames{
    display:flex;
    flex-direction: column;
    text-align: center;  
    margin-top: 15%;
}
.upcomingGames div{
   margin: 2%; 
}
.positionNav{
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 100%;  
    left: 0;
    
}
.positionLinks{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}

/* Shedule */
.jornadas{
    display:flex;
    flex-direction: column;
}
.jornadas div{
    display:flex;
    justify-content: space-around;
    margin: 5px;
}
.jornadas button{
    width: 200px;
    height: 48px;
}
.jornadas p{
    padding-top: 8px;
}

/* TABLE */
.table{
    text-align:center;
}
.table h2{
    font-size: 25px;
}

/* Teams */

.positionTeams{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.teams{
    display: flex;
    justify-content:space-around;
}
.teams img{
    height: 150px;
    margin: 12px;
}
/* Chat */
.marginChat{
    text-align: center;
    margin: 5%;  
}

.marginChatSend{
    text-align:center;
    background-color: #075d52;   
}

.chat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15%;
    background-color: #075d52;
}
.titleChat{
    text-align: center;
    background-color: #075d52;
    font-size: 24px;
    padding: 10px;
    color: white;
}
.chatWindow{
    background-image: url(../img/bs.jpg);
    height: 400px;
    width: 100%;
}
#text{
    border-radius: 20px;
    margin: 3%;
    padding: 3%;
    width: 70%;
    outline: none;
    border: 0;
}
#login{
    width: 20%;
    padding: 3%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color:white; 
}
#send{
    width: 20%;
    padding: 3%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
}
#logout{
    width: 20%;
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: white;
}
#mensajes{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x:auto;
    max-height:400px;
}
.msg{
    display: inline-flex;
    max-width: 70%;
    align-self: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    background: white;
    word-break: break-all;
    margin: 5px;
    margin-left: 10px;
      
}
.name{
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}
.my{
    display: inherit;
    max-width: 70%;
    align-self: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    background: rgb(193, 255, 135);
    word-break: break-all;
    margin: 5px;
    margin-right: 10px; 
}

/* table_teams*/
.imageTeam{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.imageTeam img{
    height: 180px;
}
/* table_players*/
.photo{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
.photo img {
    height: 180px;
}
.information{
    margin-left: 8%;
}

/* shedule_jornada */
.infoMatches{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.infoMatches img{
    height: 140px;
}
.informationClick{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.informationClick img{
    height: 50px;
}
/* shedule_information */
.result{
    margin-bottom: 5%;
    text-align: center;
}
.map{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.adress{
    display: flex;
    justify-content: center;
    text-align: center;
}
.line{
    display: flex;
    justify-content: center;
}
.lineup{
    display:flex;
    justify-content: space-around;
}
.lineupTeam{
    display:flex;
    flex-direction: column;
}
.collapse{
    display: flex;
    justify-content: center;
}
/* all */
.padding{
   padding-bottom: 15%; 
}
@media screen and (min-height: 750px) {
    .chatWindow{
        background-image: url(../img/bs.jpg);
        height: 600px;
        width: 100%;
        overflow-y: scroll;
    }
  }
  @media screen and (orientation: landscape) {
    .chatWindow{
        background-image: url(../img/bs.jpg);
        height: 170px;
        width: 100%;
        overflow-y: scroll;
    }
    #login{
        width: 15%;
        padding: 3%;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        background-color:white; 
    }
    #send{
        width: 15%;
        padding: 3%;
        border-radius: 20px;
        margin-right: 10px;
        cursor: pointer;
        border: none;
        background-color: white;
    }
    #logout{
        width: 15%;
        margin-bottom: 3%;
        padding: 3%;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        background-color: white;
    }
    #text{
        border-radius: 20px;
        margin: 3%;
        padding: 3%;
        width: 60%;
        outline: none;
        border: 0;
    }
  }
  @media screen and (orientation: landscape) and (min-height: 750px) {
    .chatWindow{
        background-image: url(../img/bs.jpg);
        height: 500px;
        width: 100%;
        overflow-y: scroll;
    }

  }